.flex-container{
    display: -webkit-flex;
    display: flex;  
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    text-align: center;
    background-color: #F3E1B1;
    padding-left: 15%;
    padding-right: 15%;
}
.flex-container > * {
    /*padding: 15px;*/
    -webkit-flex: 1 100%;
    flex: 1 100%;
}

.titterminos{
	padding-top: 3%;
}

.terminos{
	padding-top:5%;
	padding-bottom: 1%;
}

.logoterminos{
	padding-bottom: 3%;
}

