.flex-container{
    display: -webkit-flex;
    display: flex;  
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    text-align: center;
}
.flex-container > * {
    /*padding: 15px;*/
    -webkit-flex: 1 100%;
    flex: 1 100%;
}

.imgRecursos{
	background-image: url('/images/empresas/Empresas_bkg_02.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	/*background-size: contain;*/
	background-position: top center;
	height: 228px;
}
.divContainer {
	overflow: hidden;
	width: 100%;
}
	
.divBlogIzq{
	float: left;
	width:25%;
	height: 308px;
	/*border: 1px solid #C00;*/
}

.divBlogDer{
	float: left;
	width:75%;
	/*height: 308px;
	border: 1px solid #C00;*/
}
	
	
/*ESTO ES PARA GRANDE*/
@media all and (min-width: 768px){
	
	.list-group {
		overflow: hidden;
		width: 100%;
	}
	
	.list-group-item{
		float: left;
		width:30%;
		margin:10px;
	}
	
	.divContainer {
		overflow: hidden;
		width: 100%;
		background-image: url('/images/blog/fondoBlog.png');
		background-size: cover;
	}
	
	.divBlogIzq{
		-webkit-flex: 1 auto;
		flex:1 auto;
		-webkit-order:1;
		order:1;
		width:25%;
	}
	
	.espaciosBlog{
		-webkit-flex: 1 auto;
		flex:1 auto;
		-webkit-order:1;
		order:1;
		height:30px;
	}
		
	.logoBlogIzq{
		-webkit-flex: 1 auto;
		flex:1 auto;
		-webkit-order:1;
		order:1;
		background-image: url('/images/blog/blog_grp_01.png');
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center top;
		height:139px;
		/*height: 308px;
		border: 1px solid #C00;*/
	}
	
	.whatsBlogIzq{
		-webkit-flex: 1 auto;
		flex:1 auto;
		-webkit-order:1;
		order:1;
		background-image: url('/images/blog/blog_grp_02.jpg');
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center top;
		height:61px;
		/*height: 308px;
		border: 1px solid #C00;*/
	}
	
	.mailBlogIzq{
		-webkit-flex: 1 auto;
		flex:1 auto;
		-webkit-order:1;
		order:1;
		background-image: url('/images/blog/blog_grp_03.jpg');
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center top;
		height:61px;
		/*height: 308px;
		border: 1px solid #C00;*/
	}
	
	.telefonoBlogIzq{
		-webkit-flex: 1 auto;
		flex:1 auto;
		-webkit-order:1;
		order:1;
		background-image: url('/images/blog/blog_grp_04.jpg');
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center top;
		height:61px;
		/*height: 308px;
		border: 1px solid #C00;*/
	}
	
	.divBlogDer{
		-webkit-flex: 1 auto;
		flex:1 auto;
		-webkit-order:1;
		order:1;
		float: left;
		width:75%;
		background-color: #f3f4f9;
		/*height: 308px;
		border: 1px solid #C00;*/
	}
}