
.txtBig200{
	font-size: 200%;
}
.txtBig150{
	font-size: 150%;
}
.txtBoldUpper{
	font-weight: bold;
	text-transform: uppercase;
}

.txtBold{
	font-weight: bold;
}
	
.flex-container{
    display: -webkit-flex;
    display: flex;  
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    text-align: center;
}
.flex-container > * {
    /*padding: 15px;*/
    -webkit-flex: 1 100%;
    flex: 1 100%;
}

.imgIzqPlanes{
	background-image: url('/images/inicio/planes_izq.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	height: 0px;
}
.imgDerPlanes{
	background-image: url('/images/inicio/planes_der.jpg');
    background-repeat: no-repeat;
	background-size: 100% 100%;
	text-align: left;
	width: 100%;
	height: 200px;
}
.imgDerPlanesTxt{
	background-image: url('/images/inicio/planes_txt_der.png');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
	height: 200px;
	}

.imgIzqQuienes{
	/*background-image: url('/images/inicio/quienes_somos_izq.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;*/
	height: 206px;
}
.imgIzqQuienesTxt{
	background-image: url('/images/inicio/quienes_somos_txt_izq.png');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
	height: 206px;
}
.imgDerQuienes{
	background-image: url('/images/inicio/quienes_somos_derb.png');
    background-repeat: no-repeat;
	background-size: 100% 100%;
	text-align: left;
	width: 100%;
	height: 206px;
}
.imgDerQuienesTxt{
	background-image: url('/images/inicio/quienes_somos_txt_der.png');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: 100% 100%;
	height: 206px;
}
.txtDerQuienes{
	margin-top:100px;
	color:#c0c0c0;
	text-align: center;
	text-decoration: none;
	letter-spacing: 0px;
	line-height: 1.5;
	width:75%;
	word-spacing: 1px;
	vertical-align: text-bottom;
	display: block; 
	float: left; 
	position: relative; 
	font-family: "Times New Roman", Times, serif;
	font-style: normal;
	font-size: 15px;
	/*
	border: 1px solid #C00;
	font-style: italic;
	font-style: oblique;
	right: 50%;
	text-shadow: 3px 2px red;
	direction: rtl;
	
	text-transform: capitalize;
	text-transform: lowercase;
	text-transform: uppercase;
	*/
}	
.imgArrColocacion{
	background-image: url('/images/inicio/colocacion_arr.jpg');
    background-repeat: no-repeat;
	background-size: 100% 100%;
	width: 100%;
	height: 168px;
}
.imgArrColocacionTxt{
	background-image: url('/images/inicio/colocacion_txt_arr.png');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	height: 168px;
}
.imgArrColocacionTxt1{
	height: 168px;
}
.txtArrColocacion{
	color:#c2cacf;
	text-align: center;
	text-decoration: none;
	letter-spacing: 0px;
	line-height: 1.2;
	width:100%;
	word-spacing: 1px;
	vertical-align: text-bottom;
	display: block; 
	float: left; 
	position: relative; 
	font-family: "Times New Roman", Times, serif;
	font-style: normal;
	font-size: 22px;
	/*
	border: 1px solid #C00;
	font-style: italic;
	font-style: oblique;
	right: 50%;
	text-shadow: 3px 2px red;
	direction: rtl;
	
	text-transform: capitalize;
	text-transform: lowercase;
	text-transform: uppercase;
	*/
}

.imgAbjColocacion{
	background-image: url('/images/inicio/colocacion_abj.jpg');
    background-repeat: no-repeat;
	background-size: 100% 100%;
	width: 100%;
	height: 150px;
}
.imgAbjColocacionTxt{
	background-image: url('/images/inicio/colocacion_txt_abj.png');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	height: 175px;
}
.imgAbjColocacionTxt1{
	float: left;
	height: 175px;
	width:50%;
	clear: left; 
	position: relative; 
	
	/*
	border: 1px solid black;
	left: 50%;	
	*/
}
.txtAbjColocacion{
	color:white;
	text-align: center;
	text-decoration: none;
	letter-spacing: 1px;
	line-height: 1.5;
	width:100%;
	word-spacing: 1px;
	vertical-align: text-bottom;
	display: block; 
	float: left; 
	position: relative; 
	font-family: "Times New Roman", Times, serif;
	font-style: normal;
	font-size: 15px;
	/*
	border: 1px solid #C00;
	font-style: italic;
	font-style: oblique;
	right: 50%;
	text-shadow: 3px 2px red;
	direction: rtl;
	
	text-transform: capitalize;
	text-transform: lowercase;
	text-transform: uppercase;
	*/
}

.spaceCubo{
	height: 15px;
	width:100%;
}	
.imgCubo1{
	float:right;	
	height:99px;
	width:50%;
}	

.imgCubo{
	height:80px;
}

.imgProgramas{
	background-image: url('/images/inicio/programas_arrb.png');
    background-repeat: no-repeat;
	background-size: 100% 100%;
	width: 100%;
	height: 179px;
}
.txtProgramas{
	margin-top:25px;
	color:#4467a3;
	text-align: center;
	text-decoration: none;
	letter-spacing: 0px;
	line-height: 1.3;
	width:95%;
	word-spacing: 0px;
	vertical-align: text-bottom;
	display: block; 
	float: left; 
	position: relative; 
	font-family: "Times New Roman", Times, serif;
	font-style: normal;
	font-size: 14px;
	/*
	border: 1px solid #C00;
	font-style: italic;
	font-style: oblique;
	right: 50%;
	text-shadow: 3px 2px red;
	direction: rtl;
	
	text-transform: capitalize;
	text-transform: lowercase;
	text-transform: uppercase;
	*/
}

/*ESTO ES PARA GRANDE*/
@media all and (min-width: 768px){
    .imgIzqPlanes{
		-webkit-flex: 1 auto;
		flex:1 auto;
		-webkit-order:1;
		order:1;
		background-image: url('/images/inicio/planes_izq.jpg');
		background-repeat: no-repeat;
		background-size: contain 100%;
		width: 190px;
		height: 401px;
	}
    .imgDerPlanes{
		-webkit-flex:5 0px;
		flex:5 0px;
		-webkit-order:2;
		order:2;
		background-image: url('/images/inicio/planes_der.jpg');
		background-repeat: no-repeat;
		background-size: 100% 100%;
		height: 401px;
		}
	.imgDerPlanesTxt{
		-webkit-flex: 1 auto;
		flex:1 auto;
		-webkit-order:1;
		order:1;
		background-image: url('/images/inicio/planes_txt_der.png');
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center center;
		height: 101px;
	}
	
	.imgIzqQuienes{
		-webkit-flex: 1 auto;
		flex:1 auto;
		-webkit-order:1;
		order:1;
		background-image: url('/images/inicio/quienes_somos_izq.jpg');
		background-repeat: no-repeat;
		background-size: contain 100%;
		height: 412px;
		width: 190px;
		/*border: 1px solid #C00;*/
	}
	.imgIzqQuienesTxt{
		-webkit-flex: 1 auto;
		flex:1 auto;
		-webkit-order:1;
		order:1;
		background-image: url('/images/inicio/quienes_somos_txt_izq.png');
		background-repeat: no-repeat;
		background-size: 60% 60%;
		height: 412px;
	}
    .imgDerQuienes{
		-webkit-flex:5 0px;
		flex:5 0px;
		-webkit-order:2;
		order:2;
		background-image: url('/images/inicio/quienes_somos_derb.png');
		background-repeat: no-repeat;
		background-size: contain 100%;
		text-align:left;
		height: 412px;
	}
	.imgDerQuienesTxt{
		-webkit-flex: 1 auto;
		flex:1 auto;
		-webkit-order:1;
		order:1;
		background-image: url('/images/inicio/quienes_somos_txt_der.png');
		background-repeat: no-repeat;
		background-size: contain;
		height: 412px;
	}
	.txtDerQuienes{
		-webkit-flex: 1 auto;
		flex:1 auto;
		-webkit-order:1;
		order:1;
		margin-top:215px;
		color:#c0c0c0;
		text-align: center;
		text-decoration: none;
		letter-spacing: 0px;
		line-height: 1.5;
		width:87%;
		word-spacing: 1px;
		vertical-align: text-bottom;
		display: block; 
		float: left; 
		position: relative; 
		font-family: "Times New Roman", Times, serif;
		font-style: normal;
		font-size: 25px;
		/*
		border: 1px solid #C00;
		font-style: italic;
		font-style: oblique;
		right: 50%;
		text-shadow: 3px 2px red;
		direction: rtl;
		
		text-transform: capitalize;
		text-transform: lowercase;
		text-transform: uppercase;
		*/
	}	
	
	.imgArrColocacion{
		-webkit-flex:5 0px;
		flex:5 0px;
		-webkit-order:2;
		order:2;
		background-image: url('/images/inicio/colocacion_arr.jpg');
		background-repeat: no-repeat;
		background-size: 100% 100%;
		width: 100%;
		height: 336px;
	}
	.imgArrColocacionTxt{
		-webkit-flex: 1 auto;
		flex:1 auto;
		-webkit-order:1;
		order:1;
		background-image: url('/images/inicio/colocacion_txt_arr.png');
		background-repeat: no-repeat;
		background-size: 100% 100%;
		height: 336px;
	}
	.imgArrColocacionTxt1{
		-webkit-flex: 1 auto;
		flex:1 auto;
		-webkit-order:1;
		order:1;
		height: 336px;
	}
	.txtArrColocacion{
		color:#c2cacf;
		text-align: center;
		text-decoration: none;
		letter-spacing: 0px;
		line-height: 1.2;
		width:100%;
		word-spacing: 1px;
		vertical-align: text-bottom;
		display: block; 
		float: left; 
		position: relative; 
		font-family: "Times New Roman", Times, serif;
		font-style: normal;
		font-size: 42px;
		/*
		border: 1px solid #C00;
		font-style: italic;
		font-style: oblique;
		right: 50%;
		text-shadow: 3px 2px red;
		direction: rtl;
		
		text-transform: capitalize;
		text-transform: lowercase;
		text-transform: uppercase;
		*/
	}
	
	.imgAbjColocacion{
		-webkit-flex:5 0px;
		flex:5 0px;
		-webkit-order:2;
		order:2;
		float:left;
		background-image: url('/images/inicio/colocacion_abj.jpg');
		background-repeat: no-repeat;
		background-size: 100% 100%;
		width: 100%;
		height: 300px;
		/*border: 1px solid black;*/
	}
	.imgAbjColocacionTxt{
		-webkit-flex: 1 auto;
		flex:1 auto;
		-webkit-order:1;
		order:1;
		background-image: url('/images/inicio/colocacion_txt_abj.png');
		background-repeat: no-repeat;
		background-size: 100% 100%;
		height: 350px;
	}
	.imgAbjColocacionTxt1{
		-webkit-flex: 1 auto;
		flex:1 auto;
		-webkit-order:1;
		order:1;
		float: left;
		height: 266px;
		width:50%;
		clear: left; 
		float: left; 
		position: relative; 
		/*
		border: 1px solid black;
		left: 50%;	
		*/
	}
	.txtAbjColocacion{
		color:white;
		text-align: center;
		text-decoration: none;
		letter-spacing: 1px;
		line-height: 1.5;
		width:100%;
		word-spacing: 1px;
		vertical-align: text-bottom;
		display: block; 
		float: left; 
		position: relative; 
		font-family: "Times New Roman", Times, serif;
		font-style: normal;
		font-size: 30px;
		/*
		border: 1px solid #C00;
		font-style: italic;
		font-style: oblique;
		right: 50%;
		text-shadow: 3px 2px red;
		direction: rtl;
		
		text-transform: capitalize;
		text-transform: lowercase;
		text-transform: uppercase;
		*/
	}
	
	.spaceCubo{
		height: 35px;
		width:100%;
		/*border: 1px solid white;*/
	}	
	.imgCubo1{		
		-webkit-flex: 1 auto;
		flex:1 auto;
		-webkit-order:1;
		order:1;
		float:right;
		height:266px;
		width:50%;
		/*
		position: relative;	
		clear: left;
		border: 1px solid blue;*/
	}	
	
	.imgCubo{
		-webkit-flex: 1 auto;
		flex:1 auto;
		-webkit-order:1;
		order:1;
		height: 200px;
	}
	
	.imgProgramas{
	background-image: url('/images/inicio/programas_arrb.png');
    background-repeat: no-repeat;
	background-size: 100% 100%;
	width: 100%;
	height: 358px;
	}
	.txtProgramas{
		margin-top:35px;
		color:#4467a3;
		text-align: center;
		text-decoration: none;
		letter-spacing: 1px;
		line-height: 1.3;
		width:95%;
		word-spacing: 3px;
		vertical-align: text-bottom;
		display: block; 
		float: left; 
		position: relative; 
		font-family: "Times New Roman", Times, serif;
		font-style: normal;
		font-size: 30px;
		/*
		border: 1px solid #C00;
		font-style: italic;
		font-style: oblique;
		right: 50%;
		text-shadow: 3px 2px red;
		direction: rtl;
		
		text-transform: capitalize;
		text-transform: lowercase;
		text-transform: uppercase;
		*/
	}
}