.flex-container{
    display: -webkit-flex;
    display: flex;  
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    text-align: center;
}
.flex-container > * {
    /*padding: 15px;*/
    -webkit-flex: 1 100%;
    flex: 1 100%;
}

.imgUniversidades{
	background-image: url('/images/universidades/Universidades_bkg_01.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	/*background-size: contain;*/
	background-position: top center;
	height: 380px;
}
.imgBeneficiosUniv{
	background-image: url('/images/universidades/imgBeneficios.png');
    background-repeat: no-repeat;
	background-size: contain;
	background-position: top center;
	height: 359px;
}
.imgRecursosTxt{
	background-image: url('/images/empresas/Empresas_txt_02.png');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	/*background-size: contain;*/
	background-position: top center;
	height: 228px;
	}	
	
/*ESTO ES PARA GRANDE*/
@media all and (min-width: 768px){
    .imgUniversidades{
		-webkit-flex:5 0px;
		flex:5 0px;
		-webkit-order:2;
		order:2;
		background-image: url('/images/universidades/Universidades_bkg_01.jpg');
		background-repeat: no-repeat;
		background-size: 100% 100%;
		/*background-size: contain;*/
		width: 100%;
		height: 1142px;
		}
	.imgBeneficiosUniv{
		-webkit-flex: 1 auto;
		flex:1 auto;
		-webkit-order:1;
		order:1;
		background-image: url('/images/universidades/imgBeneficios.png');
		background-repeat: no-repeat;
		background-size: contain;
		background-position: top center;
		height: 1077px;
	}
	.imgRecursosTxt{
		-webkit-flex: 1 auto;
		flex:1 auto;
		-webkit-order:1;
		order:1;
		background-image: url('/images/empresas/Empresas_txt_02.png');
		background-repeat: no-repeat;
		background-size: 100% 100%;
		/*background-size: contain;*/
		background-position: center center;
		height: 685px;
	}
	
}