.flex-container{
    display: -webkit-flex;
    display: flex;  
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    text-align: center;
}
.flex-container > * {
    /*padding: 15px;*/
    -webkit-flex: 1 100%;
    flex: 1 100%;
}

.imgUniversidades{
	background-image: url('/images/universidades/Universidades_bkg_01b.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	/*background-size: contain;*/
	background-position: top center;
	height: 380px;
}
.imgBeneficiosUniv{
	background-image: url('/images/universidades/imgBeneficios.png');
    background-repeat: no-repeat;
	background-size: contain;
	background-position: top center;
	height: 359px;
}
.imgRegUniversidades{
	background-image: url('/images/universidades/Universidades_bkg_02.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	/*background-size: contain;*/
	width: 100%;
	height: 222px;
}
.imgRegUniversidadesTxt{
	background-image: url('/images/universidades/txtRegistro.png');
	background-repeat: no-repeat;
	/*background-size: 100% 100%;*/
	background-size: contain;
	background-position: top center;
	width: 100%;
	height: 77px;
}
.imgBotRegUniv{
	-webkit-flex: 1 auto;
	flex:1 auto;
	-webkit-order:1;
	order:1;
	height: 75px;
}
	
/*ESTO ES PARA GRANDE*/
@media all and (min-width: 768px){
    .imgUniversidades{
		-webkit-flex:5 0px;
		flex:5 0px;
		-webkit-order:2;
		order:2;
		background-image: url('/images/universidades/Universidades_bkg_01b.jpg');
		background-repeat: no-repeat;
		background-size: 100% 100%;
		/*background-size: contain;*/
		width: 100%;
		height: 1142px;
	}
	.imgBeneficiosUniv{
		-webkit-flex: 1 auto;
		flex:1 auto;
		-webkit-order:1;
		order:1;
		background-image: url('/images/universidades/imgBeneficios.png');
		background-repeat: no-repeat;
		background-size: contain;
		background-position: top center;
		height: 1077px;
	}
	
	.imgRegUniversidades{
		-webkit-flex:5 0px;
		flex:5 0px;
		-webkit-order:2;
		order:2;
		background-image: url('/images/universidades/Universidades_bkg_02.jpg');
		background-repeat: no-repeat;
		background-size: 100% 100%;
		/*background-size: contain;*/
		width: 100%;
		height: 444px;
	}
	.imgRegUniversidadesTxt{
		-webkit-flex: 1 auto;
		flex:1 auto;
		-webkit-order:1;
		order:1;
		background-image: url('/images/universidades/txtRegistro.png');
		background-repeat: no-repeat;
		/*background-size: 100% 100%;*/
		background-size: contain;
		background-position: top center;
		width: 100%;
		height: 155px;
	}
	.imgBotRegUniv{
		-webkit-flex: 1 auto;
		flex:1 auto;
		-webkit-order:1;
		order:1;
		height: 150px;
	}
	
}